[run]
source = src
omit =
    */tests/*
    */venv/*
    */__pycache__/*
    */site-packages/*
    src/backtesting/run_backtest.py
    src/backtesting/test_backtest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
precision = 2

[html]
directory = htmlcov